<div class="bg-img"></div>
<div class="star"></div>
<div class="rocket"></div>
<div class="little-ball-1"></div>
<div class="little-ball-2-wrap">
    <div class="little-ball-2"></div>
</div>

{{!-- <div class="little little-1"></div>
<div class="little little-2"></div>
<div class="little little-3"></div>
<div class="little little-4"></div>
<div class="little little-5"></div> --}}

<div class="cow"></div>
<dir class="child"></dir>
<dir class="teacher"></dir>

<div class="ball">
    <div class="user-pic">
        <img class="user-img" src="{{content.FavouriteConImage}}?w=240&q=50" alt="">
    </div>
    <div class="text-wrap">
        <p class="text"><span class="bold">{{content.FavouriteConName}}</span></p>
        <p class="text">是你最喜欢的老师，陪伴你上过<span class="bold">{{content.FavouriteConAH}}</span>堂课～</p>
        <p class="text"></p>
        <p class="text">猜猜你的外教团有多庞大？<br />翻开<span class="bold">“外教版图”</span>看看吧~</p>
        <p class="text">共有<span class="bold">{{content.ConCNT}}</span>名外教，遍布<span class="bold">{{content.NationalityCNT}}</span>个国家，<br/>带你看世界！</p>
    </div>
</div>