<div class="bg-img"></div>
<div class="bg-later"></div>
<div class="bg-vista"></div>

<div class="cow"></div>
<div class="person"></div>

<section class="text-wrap">
    <p class="text">你的优秀表现博得外教的夸奖<br />来看看你有多棒~</p>
    <section class="circle-1">
        <div class="circle-text">
            <span class="circle__number">{{content.Participation}}</span>
            <span class="circle__desc">参与度</span>
        </div>
        <div class="circle-wrap">
            <div class="circle-left">
                <div 
                    class="circle"
                    data-5650="transform: rotateZ(-136deg);"
                    data-5800="transform: rotateZ({{valParticipation.L}}deg);"
                ></div>
            </div>
            <div class="circle-right">
                <div 
                    class="circle"
                    data-5500="transform: rotateZ(-136deg); opacity: 1;"
                    data-5650="transform: rotateZ({{valParticipation.R}}deg);"
                ></div>
            </div>
        </div>
    </section>
    <section class="circle-2">
        <div class="circle-text">
            <span class="circle__number">{{content.Pronunciation}}</span>
            <span class="circle__desc">发音</span>
        </div>
        <div class="circle-wrap">
            <div class="circle-left">
                <div 
                    class="circle"
                    data-5650="transform: rotateZ(-136deg);"
                    data-5800="transform: rotateZ({{valPronunciation.L}}deg);"
                ></div>
            </div>
            <div class="circle-right">
                <div 
                    class="circle"
                    data-5500="transform: rotateZ(-136deg);"
                    data-5650="transform: rotateZ({{valPronunciation.R}}deg);"
                ></div>
            </div>
        </div>
    </section>
    <section class="circle-3">
        <div class="circle-text">
            <span class="circle__number">{{content.Comprehension}}</span>
            <span class="circle__desc">理解力</span>
        </div>
        <div class="circle-wrap">
            <div class="circle-left">
                <div 
                    class="circle"
                    data-5650="transform: rotateZ(-136deg);"
                    data-5800="transform: rotateZ({{valComprehension.L}}deg);"
                ></div>
            </div>
            <div class="circle-right">
                <div 
                    class="circle"
                    data-5500="transform: rotateZ(-136deg);"
                    data-5650="transform: rotateZ({{valComprehension.R}}deg);"
                ></div>
            </div>
        </div>
    </section>
    <section class="circle-4">
        <div class="circle-text">
            <span class="circle__number">{{content.Creativity}}</span>
            <span class="circle__desc">创造力</span>
        </div>
        <div class="circle-wrap">
            <div class="circle-left">
                <div 
                    class="circle"
                    data-5650="transform: rotateZ(-136deg);"
                    data-5800="transform: rotateZ({{valCreativity.L}}deg);"
                ></div>
            </div>
            <div class="circle-right">
                <div 
                    class="circle"
                    data-5500="transform: rotateZ(-136deg);"
                    data-5650="transform: rotateZ({{valCreativity.R}}deg);"
                ></div>
            </div>
        </div>
    </section>
    <section class="circle-5">
        <div class="circle-text">
            <span class="circle__number">{{content.Facility}}</span>
            <span class="circle__desc">流畅度</span>
        </div>
        <div class="circle-wrap">
            <div class="circle-left">
                <div 
                    class="circle"
                    data-5650="transform: rotateZ(-135deg);"
                    data-5800="transform: rotateZ({{valFacility.L}}deg);"
                ></div>
            </div>
            <div class="circle-right">
                <div 
                    class="circle"
                    data-5500="transform: rotateZ(-135deg);"
                    data-5650="transform: rotateZ({{valFacility.R}}deg);"
                ></div>
            </div>
        </div>
    </section>

</section>

<div class="bg-foot foot-r"></div>
<div class="bg-foot foot-l"></div>