<section class="on-page">
    <div class="book-wrap">
        <div class="book">
            <div class="book__left">
                <div class="book__cover">
                    {{!-- 头像 --}}
                    <div class="head-photo">
                        <div class="pic">
                            <div class="default-head js_default-head"></div>
                            <img class="user-img js_user-head" src="{{data.headIcon}}?w=210&q=50" alt="">
                        </div>
                        <h3 class="name js_user-name">{{data.cname}}</h3>
                    </div>
                </div>
                <div class="book__l-page"></div>
            </div>
            <div class="book__right"></div>
            <div class="book__bg"></div>
        </div>
    </div>
</section>

<section class="up-page">
    {{!-- 人气值 --}}
    <div class="popularity">
        <p class="popularity__text">人气值</p>
        <p class="person__text"><span class="js_popularity">{{total}}</span>人</p>
    </div>
    
    {{!-- 星星 --}}
    <div class="light">
        <div class="light__img"></div>
    </div>

    {{!-- 云 --}}
    <div class="cloud-left"></div>
    <div class="cloud-right"></div>
    <div class="cloud-foot">
        <section class="text-wrap">
            <p class="text text__blue"><span class="js_user-name">{{data.cname}}</span>小朋友</p>
            <p class="text">很高兴和你相伴走过这一年，</p>
            <p class="text">让我们一起来重温你的“2018成长故事”吧</p>
        </section>
    </div>

    {{!-- 园区里面的东西 --}}
    <section class="map-wrap">
        <div class="map"></div>
        <div class="arch logo"></div>
        <div class="arch joy"></div>
        <div class="arch victory"></div>
        <div class="arch rainbow"></div>
        <div class="arch passion"></div>
        <div class="arch impression"></div>
    </section>
    
    {{!-- 小公牛 --}}
    <div class="cow-wrap">
        <div class="cow"></div>
    </div>
    <div class="boy-wrap">
        <div class="boy"></div>
    </div>
    <div class="user-pic">
        <img class="user-img js_user-head" src="{{data.headIcon}}?w=300&q=50" alt="">
    </div>
</section>

<section class="under-page">
    {{!-- 首页背景 --}}
    <div class="bg-color bg-color--1"></div>
    {{!-- table --}}
    <div class="bg-img"></div>
    <div class="cow-see"></div>
    <div class="boy-see"></div>

    {{!-- 过度页背景 --}}
    <div class="bg-color bg-color--2"></div>
    {{!-- 打开页背景 --}}
    <div class="bg-color bg-color--3"></div>
</section>

<section class="fireworks-wrap">
    {{!-- 礼花 --}}
    <div class="fireworks fireworks--1"></div>
    <div class="fireworks fireworks--2"></div>
    <div class="fireworks fireworks--3"></div>
    <div class="fireworks fireworks--4"></div>
    <div class="fireworks fireworks--5"></div>
</section>
